html {
    background: darksalmon;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #1a1a1a;
    border-top: 10px solid #1a1a1a;
}

nav {
  position: sticky;
  top: 5px;
  left: 30px;
  background: white;
    margin-top: 20px;
    border: 5px;
    padding: 10px;
    border: 3px solid #1a1a1a;
    text-align: center;
}

a[href$=".html"] {
    /* Any link ending in .html turns black */
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 3em;
    margin: 10px;
}

h2 {
  margin: 20px;
  text-align: center;
}

ul, ol {
  line-height: 1.5em;
}

figure {
  float: left;
  font-variant: small-caps;
  text-align: center;
  
}

img {
    width: 100%;
}

p {
    line-height: 1.5em;
    margin: 10px;
    padding: 20px;
}

table {
    background: white;
    border-top: 3px solid #1a1a1a;
    border-bottom: 3px solid #1a1a1a;
    border-left: 3px solid #1a1a1a;
    border-right: 3px solid #1a1a1a;
    margin: 20px;
}

th {
    /* Table heading info */
    padding: 5px;
    border-bottom: 1px solid #1a1a1a;
    border-left: 1px solid #1a1a1a;
    border-right: 1px solid #1a1a1a;
}

td {
    /* Table description info */
    padding: 5px;
    border-bottom: 1px solid #1a1a1a;
    border-left: 1px solid #1a1a1a;
    border-right: 1px solid #1a1a1a;
}

article {
  background: #ccc;
  padding: 10px;
  margin: 20px;
}

/* Sections */
#blog {
    border-top: 1px dotted lightgrey;
  display: flex;
  flex-wrap: wrap;
}

#contact {
    border-top: 1px dotted lightgrey;
}

#about {
    border-top: 1px dotted lightgrey;
}

/* Class */
.blog-post {
    border-bottom: 1px solid lightgrey;
}

.art {
  list-style-type: none;
  text-align: center;
}

.art li {
  display: inline-block;
  padding: 20px 10px; 
  
}

article:nth-of-type(1){
  flex: 1 525px;
}

article:nth-of-type(2){
  flex: 1 525px;
}

article:nth-of-type(3){
  flex: 2;
  text-align: left;
  line-height: 1.5em;
}

/* Media Query */
@media (max-width: 400px) {

  p {
    font-size: 0.85em;
  }
  figure {
    float: none;
  }

  table {
    width: 200px;
    font-size: 0.75em;
  }

  .art {
    text-align: left;
  }
  .art li {
    width: 100px;
  }
}